body {
	font-size: 14px;
	color: #333;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.title {
	font-size: 36px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.line {
	margin-top: 30px;
}
.bg {
	color: #333;
	padding: 15px;
	margin: 0;
	line-height: 1.42857143;
}
button {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.open {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
}
.delete {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

.panel {
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-top: 30px;
}
.panel-heading {
	background-color: #f5f5f5;
	padding: 10px 15px;
	font-size: 16px;
}
.panel-body {
	padding: 15px 15px;
}
#errorMessage {
	background-color: #fff;
	margin-left: 30px;
	padding: 6px;
	color: #d9534f;
	font-size: 16px;
	line-height: 20px;
	display: inline-block;
}
